<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
</head>
<body>
    <h2>Employee Details</h2>
    <p><strong>Name:</strong> <%= employee.name %></p>
    <p><strong>Age:</strong> <%= employee.age %></p>
    <p><strong>Date of Joining:</strong> <%= employee.dateOfJoining %></p>
    <p><strong>Gender: </strong><%= employee.Gender %> </p>

    <a href="/">Go Back</a>
</body>
</html>
